Zadanie 11. Napisz funkcję, która dla zadanego boku trójkąta równobocznego a zwraca pole (P=(a^2 √3)/4) i obwód (Ob=3a). [3p]

In [ ]:
def trojkont(a):
  pole = (a**2*3**(1/2))/4
  obwod = 4*a
  print(pole)
  print (obwod)
trojkont(4)

6.928203230275509
16

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
dane = pd.read_excel("zbior_danych_2.xlsx")
dane

     plec  wiek  KLASA_MIEJSCOWOSCI  WOJEWODZTWO  ...  fp65  fp66  fp70  fp106
0       1    48                   1            2  ...  2000  3000     5      5
1       1    55                   1            2  ...  1900  3000     6      5
2       1    22                   1            2  ...  1100  2000     2      6
3       1    36                   1            2  ...  3000  6000     4      5
4       1    34                   1            2  ...  1200  6000     1      6
..    ...   ...                 ...          ...  ...   ...   ...   ...    ...
805     2    42                   6           32  ...  1200  3000     4      8
806     2    31                   6           32  ...  3000  3200     4      7
807     2    39                   6           32  ...  1300  2000     6      7
808     2    52                   6           32  ...  1100  1100     5      7
809     2    28                   6           32  ...  1500  1500     2      8

[810 rows x 43 columns]

Zadanie 1.  W badaniu udział wzięło **26** rozwiedzionych osób (zmienna fC11).
w exelu jest opis i 4 oznacza osoby rozwiedzione

In [ ]:
dane.fC11.value_counts()

2    566
1    193
4     26
3     19
6      4
5      2
Name: fC11, dtype: int64

Zadanie 2. Średnia wieku (wiek) rozwiedzionych osób (zmienna fC11) wynosiła 46lat.

In [ ]:

dane_w=dane[(dane.fC11 == 4) ]
dane_w.wiek.mean()

46.53846153846154

Mężczyzn (zmienna Plec), z województwa wielkopolskiego (zmienna WOJEWODZTWO) oraz kobiet z województwa podlaskiego udział w badaniu ankietowym wzięło łącznie 54.
Płeć 1 to faceci 2 to kobiety.
Województwo wielkopolskie to 30 a podlaskie to 20

In [ ]:
dane_wlkp=dane[(dane.WOJEWODZTWO == 30) & (dane.plec == 1)]
dane_podl=dane[(dane.WOJEWODZTWO == 20) & (dane.plec == 2)]
dane_podl.count ## 17 wierszy co oznacza 17 kobiet
dane_wlkp.count ## 37 wierszy co oznacza 37 mężczyzn
suma = 17+37
print(suma)

54

Zadanie 4.  Kobiet (zmienna Plec) z województw (zmienna WOJEWODZTWO), których kod kończy się cyfrą 2, a które jednocześnie mieszkają na wsi (zmienna KLASA_MIEJSOWOSCI) w badaniu ankietowym udział wzięło 46 pań..                                                                               Wieś oznaczona jest numerem 6

In [ ]:
dane_kobiety2=dane[(dane.WOJEWODZTWO == 2) &(dane.plec == 2)&(dane.KLASA_MIEJSCOWOSCI == 6)]
dane_kobiety12=dane[(dane.WOJEWODZTWO == 12)&(dane.plec == 2)&(dane.KLASA_MIEJSCOWOSCI == 6)]
dane_kobiety22=dane[(dane.WOJEWODZTWO == 22)&(dane.plec == 2)&(dane.KLASA_MIEJSCOWOSCI == 6)]
dane_kobiety32=dane[(dane.WOJEWODZTWO == 32)&(dane.plec == 2)&(dane.KLASA_MIEJSCOWOSCI == 6)]
dane_kobiety2.count ##12
dane_kobiety12.count ##15
dane_kobiety22.count ##14
dane_kobiety32.count## 5
suma = 12+15+14+5
print(suma)

46


Zadanie 5. Uzupełnij poniższą tabelę krzyżową, w której zawarte są informacje o liczbie respondentów ze względu na ich stan cywilny  (zmienne fC11) i zmienną fp29 (Co jest według Pana/Pani ważniejsze w życiu?)                                                                                                                   

Co jest według Pana ważniejsze w życiu?

przyjemności, dostatek, brak stresu, (1)

osiąganie ważnych celów mimo trudności, bólu i wyrzeczeń (2)

kawaler/panna(1)
żonaty/zamężna(2)
wdowiec/wdowa(3)
rozwiedziony/a(4)
separacja prawna(5)
separacja faktyczna(6)

In [ ]:
dane_kaw1=dane[(dane.fC11 == 1) & (dane.fp29 == 1)]
print(dane_kaw1)
dane_kaw2=dane[(dane.fC11 == 1) & (dane.fp29 == 2)]
print(dane_kaw2)

     plec  wiek  KLASA_MIEJSCOWOSCI  WOJEWODZTWO  ...  fp65  fp66  fp70  fp106
2       1    22                   1            2  ...  1100  2000     2      6
3       1    36                   1            2  ...  3000  6000     4      5
4       1    34                   1            2  ...  1200  6000     1      6
9       1    20                   4            2  ...  1600  1900     1      7
13      1    27                   5            2  ...   700  1600     3      5
..    ...   ...                 ...          ...  ...   ...   ...   ...    ...
761     2    28                   5           30  ...   700   800     3      8
762     2    23                   5           30  ...  1000  2000     5      7
780     1    27                   4           32  ...   700   800     2      5
800     2    49                   3           32  ...  2450  2450     4      3
801     2    23                   4           32  ...  1100  1200     3      7

[106 rows x 43 columns]
     plec  wiek  KLASA_MIEJSCOWOSCI  WOJEWODZTWO  ...  fp65  fp66  fp70  fp106
11      1    31                   4            2  ...  1600  1600     3      5
31      2    34                   1            2  ...  2400  3400     6      7
68      1    29                   5            4  ...  1200  1200     2      8
73      1    35                   6            4  ...   400   600     5      2
80      2    25                   2            4  ...   765  2000     2      8
..    ...   ...                 ...          ...  ...   ...   ...   ...    ...
777     1    23                   2           32  ...  2000  3000     5      5
781     1    24                   4           32  ...  1500  2000     3      5
785     1    29                   4           32  ...  1300  2500     5      7
793     1    23                   6           32  ...   200   800     3      2
809     2    28                   6           32  ...  1500  1500     2      8

[87 rows x 43 columns]

In [ ]:
dane_zon1=dane[(dane.fC11 == 2) & (dane.fp29 == 1)]
print(dane_zon1)
dane_zon2=dane[(dane.fC11 == 2) & (dane.fp29 == 2)]
print(dane_zon2)
## i tak dalej tylko podmieniać numerki

     plec  wiek  KLASA_MIEJSCOWOSCI  WOJEWODZTWO  ...  fp65  fp66  fp70  fp106
1       1    55                   1            2  ...  1900  3000     6      5
5       1    31                   1            2  ...  4000  6000     3      5
6       1    58                   3            2  ...  1500  1500     4      1
10      1    31                   4            2  ...  5000  6000     4      5
12      1    46                   4            2  ...  2100  3200     4      7
..    ...   ...                 ...          ...  ...   ...   ...   ...    ...
791     1    33                   6           32  ...  2000  2000     4      7
792     1    28                   6           32  ...  1700  4200     4      7
799     2    33                   2           32  ...  2000  4500     3      7
803     2    55                   5           32  ...  3000  3500     2      5
808     2    52                   6           32  ...  1100  1100     5      7

[240 rows x 43 columns]
     plec  wiek  KLASA_MIEJSCOWOSCI  WOJEWODZTWO  ...  fp65  fp66  fp70  fp106
8       1    59                   4            2  ...  2800  3500     5      3
14      1    73                   5            2  ...  1420  1400     5      5
16      1    60                   6            2  ...  1400  2000     5      8
19      1    55                   6            2  ...  1900  3000     3      7
24      1    43                   6            2  ...  2000  2500     4      7
..    ...   ...                 ...          ...  ...   ...   ...   ...    ...
796     2    51                   2           32  ...  2800  3200     4      1
797     2    39                   2           32  ...  1500  3000     4      1
802     2    50                   5           32  ...  3500  3500     4      8
804     2    33                   5           32  ...  2500  3000     3      5
806     2    31                   6           32  ...  3000  3200     4      7

[326 rows x 43 columns]

Zadanie 6.  Proszę oszacować parametru modelu regresji liniowej, w której zmienną objaśnianą będzie waga (fp65), a zmiennymi objaśniającymi wzrost (fp55) oraz wiek (wiek) oraz uzupełnić brakujące wartości w poniższym wydruku (do 2 miejsc po przecinku). Proszę pisemnie  zinterpretować parametr stojący przy zmiennej wzrost (poniżej)  [3p].

musimy wpisać odpowiedni zakres w  tym query żeby wyszło żęby liczba obserwacji była poprawna

In [ ]:
dane.dtypes

plec                  int64
wiek                  int64
KLASA_MIEJSCOWOSCI    int64
WOJEWODZTWO           int64
eduk4_2011            int64
lata_nauki_2011       int64
fC4                   int64
fC11                  int64
fC37                  int64
fD4                   int64
fp3                   int64
fp29                  int64
fp40                  int64
fp41                  int64
fp55                  int64
fp56                  int64
fp58_1                int64
fp58_2                int64
fp58_3                int64
fp58_4                int64
fp58_5                int64
fp58_6                int64
fp58_7                int64
fp58_8                int64
fp58_9                int64
fp58_10               int64
fp58_11               int64
fp58_12               int64
fp58_13               int64
fp58_14               int64
fp58_15               int64
fp58_16               int64
fp58_17               int64
fp58_18               int64
fp58_19               int64
fp58_20               int64
fp58_21               int64
fp58_22               int64
fp58_23               int64
fp65                  int64
fp66                  int64
fp70                  int64
fp106                 int64
dtype: object

In [ ]:

dane_sub = dane.query("fp55 > 149 & fp55 < 199 & wiek < 75 & wiek > 17 & fp65 > -1  & fp65 < 27001" )

model1 = smf.ols(formula= "fp65 ~ fp55 + wiek ", data =dane_sub)
model1_fit = model1.fit()
print(model1_fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   fp65   R-squared:                       0.045
Model:                            OLS   Adj. R-squared:                  0.043
Method:                 Least Squares   F-statistic:                     19.16
Date:                Wed, 05 Jan 2022   Prob (F-statistic):           7.41e-09
Time:                        10:09:17   Log-Likelihood:                -7135.5
No. Observations:                 810   AIC:                         1.428e+04
Df Residuals:                     807   BIC:                         1.429e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -4691.3178   1156.293     -4.057      0.000   -6961.014   -2421.622
fp55          34.4078      6.459      5.327      0.000      21.729      47.086
wiek          19.6958      4.979      3.956      0.000       9.922      29.470
==============================================================================
Omnibus:                     1008.825   Durbin-Watson:                   1.892
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           178641.120
Skew:                           6.144   Prob(JB):                         0.00
Kurtosis:                      74.708   Cond. No.                     3.57e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.57e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

  Uzupełnij informację o odsetku respondentów ze względu na ich stan cywilny (zmienna fC11) wpisując odpowiednie wartości nad każdym słupkiem osobno. 
  Tutaj skorzystam z informacji które posiadam z  zadania 5

In [ ]:
procent_sing= (106+87)/810
procent_zon= (240	+326)/810
procent_wdow=(5	+14)/810
procent_rozw=(10+16)/810
procent_sepP= 2/810
procent_sepF= 4/810

print(procent_sing,  procent_zon  ,procent_wdow,procent_rozw,procent_sepP,procent_sepF)

0.2382716049382716 0.6987654320987654 0.02345679012345679 0.03209876543209877 0.0024691358024691358 0.0049382716049382715

Zadanie 8.  Oblicz i zinterpretuj współczynnik korelacji liniowej Pearsona pomiędzy wiekiem  (zmienna wiek) a wagą (zmienna fp56) kobiet (zmienna Plec) zamieszkujących wieś (zmienna KLASA_MIEJSOWOSCI).	
Kobiety nr 2, wieś nr 6  
Współczynnik r przyjmuje wartości z przedziału [-1,1], Im wartość bliższa 1 tym zależność jest silniejsza i dodatnia (jeżeli x rośnie to y rośnie), Im wartość bliższa -1 tym zależność jest silniejsza i ujemna (jeżeli x rośnie to y maleje), r=0 oznacza brak związku liniowego pomiędzy zmiennymi.

In [ ]:
dane_wiek= [(dane.wiek) & (dane.KLASA_MIEJSCOWOSCI == 6) & (dane.plec == 2 )  ]
dane_waga = [ (dane.fp56) & (dane.KLASA_MIEJSCOWOSCI == 6)& (dane.plec == 2 )]
np.corrcoef(dane_wiek, dane_waga)[0, 1]
## to jest chyba nie poprawne ale nie wiem

0.41373527735772253

In [ ]:
dane_wiek= dane[["wiek" ,"KLASA_MIEJSCOWOSCI" ,"plec"]  ]
dane_waga = dane[ ["fp56" , "KLASA_MIEJSCOWOSCI", "plec"]]
dane_wiek
dane_wiek2 = dane_wiek[(dane_wiek.wiek)& (dane_wiek.KLASA_MIEJSCOWOSCI == 6) & (dane_wiek.plec == 2 )]
dane_waga2 = dane_waga[(dane_waga.fp56) & (dane_waga.KLASA_MIEJSCOWOSCI == 6)& (dane_waga.plec == 2 )]
np.corrcoef(dane_wiek2, dane_waga2)[0, 1]

0.9999967441120318

Zadanie 9.  Kwartyle wagi (zmienna fp56) mężczyzn (zmienna Plec) z województwa wielkopolskiego (zmienna WOJEWODZTWO) nr to 30 woj a plec 1 
wynosiły:	    
q1 =80 
q2 = 85
q3=95

In [ ]:
dane_waga =dane[["fp56","plec","WOJEWODZTWO"]]
dane_waga2 = dane_waga[(dane_waga.plec == 1 )& (dane_waga.WOJEWODZTWO == 30)]
dane_waga2.describe()

             fp56  plec  WOJEWODZTWO
count   37.000000  37.0         37.0
mean    88.648649   1.0         30.0
std     11.463023   0.0          0.0
min     67.000000   1.0         30.0
25%     80.000000   1.0         30.0
50%     85.000000   1.0         30.0
75%     95.000000   1.0         30.0
max    115.000000   1.0         30.0